body {
	background-color: #007AFF;
}

h3 {
	color: #ff0;
	font-size: 18px;
	font-weight: 400;
	background-color: #0057B4;
}
/*
#heading {
	color: green;
	border: 1px solid red;
}

.heading {
	color: blue;
	background-color: #ddd;
}*/

.short {
	color: #ff0;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

.short:first-letter {
	font-size: 20;
}

.long {
	color: #ff0;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.long:first-letter {
	font-size: 22;
}

.header {
	font-size: 24px;
	height: 120px;
	width: 1000px;
	margin:0 auto;
}

.content {
	font-size: 16px;
	width: 1000px;
	margin:0 auto;
	color: #ff0;
}

.footer {
	font-size: 16px;
	vertical-align: bottom;
	width: 1000px;
	margin:0 auto;
	color: #ff0;
	text-align: center;
}

.list {
	list-style-type: none;
}

.list li{
	display: inline-block;
	margin: 20px;
}

.menu {
	position: relative;
}

.menu > li {
	height: 65px;
	list-style-type: none;
	text-transform: uppercase;
}

.menu li {
	display: inline-block;
	margin-left: 20px;
}

.menu li:nth-child(1) {
	margin-left: 0px;
}

.menu img {
	display: block;
	position: absolute;
	right: 0;
	float: left;
}

.menu a {
	text-decoration: none;
}

.mail {
	width: 200px;
	height: 40px;
	color: black;
	font-size: 16px;
}

.image {
	display: block;
	position: relative;
}

.image input {
	width: 200px;
	height: 40px;
	color: #ff0;
	font-size: 16px;
	background: #0057B4;
	float: none;
	display: inline-block;
	position: absolute;
	right: 0;
}

.image input:hover {
	color: #9ACD32;
}

.image input:active {
	color: red;
}

.img {
	width: 606px;
	height: 406px;
	background-color: #0057B4;
}

.textinput {
	text-transform: capitalize;
}

.table {
	border: 1px solid #F6F696;
	border-collapse: collapse;
}

.table td {
	border: 1px solid #F6F696;
	text-align: center;
	width: 100px;
	height: 20px;
}

.table tr:nth-child(1) td:nth-child(3) {
	height: 60px;
}

a {
	color: #ff0;
}

a:hover {
	color: #9ACD32;
}

a:active {
	color: red;
}

textarea {
	width: 400px;
	height: 200px;
	color: black;
	font-size: 16px;
	text-transform: capitalize;
}

img[alt="скрин программы"] {
	width: 600px;
	height: 400px;
	margin: 3px;
	border-radius: 6px;
}

img[alt="скрин"] {
	width: 200px;
	height: 150px;
}

table {
	color: #ff0;
}
/*
img[alt="logo"] {
	position: absolute;
	left: 880px;
}*/

.blue {
	color: blue;
	background-image: url(../Image/prazdniki.png);
	background-repeat: no-repeat;
	background-position: 10px 20px;
	/*background: url(../Image/prazdniki.png) no-repeat 10px 20px;*/
}

/*
p {
	font-size: 16px;
}
*/